@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-slab: "Roboto Slab", serif;
  --font-rufina: "Rufina", serif;
  --font-mono: "Roboto Mono", monospace;
}
@plugin "daisyui" {
  themes: light;
}
